<div class="mb-4">
    <ul class="tab-group">
        <li class="tab active"><a routerLink="/login">Login</a></li>
        <li class="tab inactive"><a routerLink="/register">Register</a></li>                            
    </ul>
</div>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="mb-3">
       <mat-form-field appearance="outline" style="width: 100%;">
        <mat-label>Username</mat-label>
        <input matInput formControlName="userName">
      </mat-form-field>
        <div class="error-feedback" *ngIf="hasDisplayableError('userName') && form.controls.userName.hasError('required')">
            Please enter your User Name.
          </div>
    </div>
    <div class="mb-3">
        <mat-form-field appearance="outline" style="width: 100%;">
            <mat-label>Password</mat-label>
            <input matInput type="password" formControlName="password">
          </mat-form-field>
        <div class="error-feedback" *ngIf="hasDisplayableError('password')">
            <ng-container [ngSwitch]="form.controls.password.errors | firstKey"> 
              <div *ngSwitchCase="'required'">
                Please enter your Password.
              </div>
            </ng-container>                
          </div>

    </div>
    <div class="mt-4">
        <button type="submit" class="btn normal-btn">
            LOGIN
        </button>
    </div>
</form>