<p style="color: #3e50b5;font-weight: 600;">Task Management System</p>
<div class="container">
    <div class="row vh-120 align-items-center">
        <div class="col-xxl-4 offset-xxl-4 col-lg-8 offset-lg-2 col-10 offset-1">
            <div class="rounded-2 shadow-sm bg-white" style="min-height: 300px;border:2px solid whitesmoke;">
                <div class="d-flex justify-content-start align-items-center">
                    <div class="p-3 w-100">                        
                        <router-outlet />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>